Repository jejem/docker-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-php-7.3-cli, test-php-7.3-cli, deploy-php-7.3-cli, deploy-php-7.3-cli-to-hub, build-php-7.3-fpm, test-php-7.3-fpm, deploy-php-7.3-fpm, deploy-php-7.3-fpm-to-hub, build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

build-php-7.3-cli:
  stage: build
  script:
  - echo $DOCKER_PASSWORD |docker login $DOCKER_REGISTRY -u $DOCKER_USER --password-stdin
  - docker build --pull --no-cache -t $DOCKER_REGISTRY/$DOCKER_REPOSITORY:7.3-cli-$CI_COMMIT_SHORT_SHA 7.3-cli/
  - docker push $DOCKER_REGISTRY/$DOCKER_REPOSITORY:7.3-cli-$CI_COMMIT_SHORT_SHA

test-php-7.3-cli:
  stage: test
  script:
  - echo $DOCKER_PASSWORD |docker login $DOCKER_REGISTRY -u $DOCKER_USER --password-stdin
  - exit 0

deploy-php-7.3-cli:
  stage: deploy
  script:
  - echo $DOCKER_PASSWORD |docker login $DOCKER_REGISTRY -u $DOCKER_USER --password-stdin
  - docker pull $DOCKER_REGISTRY/$DOCKER_REPOSITORY:7.3-cli-$CI_COMMIT_SHORT_SHA
  ...

deploy-php-7.3-cli-to-hub:
  stage: deploy
  script:
  - echo $DOCKER_PASSWORD |docker login $DOCKER_REGISTRY -u $DOCKER_USER --password-stdin
  - echo $DOCKER_HUB_PASSWORD |docker login -u $DOCKER_HUB_USER --password-stdin
  - docker pull $DOCKER_REGISTRY/$DOCKER_REPOSITORY:7.3-cli-$CI_COMMIT_SHORT_SHA
  ...

build-php-7.3-fpm:
  stage: build
  script:
  - echo $DOCKER_PASSWORD |docker login $DOCKER_REGISTRY -u $DOCKER_USER --password-stdin
  - docker build --pull --no-cache -t $DOCKER_REGISTRY/$DOCKER_REPOSITORY:7.3-fpm-$CI_COMMIT_SHORT_SHA 7.3-fpm/
  - docker push $DOCKER_REGISTRY/$DOCKER_REPOSITORY:7.3-fpm-$CI_COMMIT_SHORT_SHA

test-php-7.3-fpm:
  stage: test
  script:
  - echo $DOCKER_PASSWORD |docker login $DOCKER_REGISTRY -u $DOCKER_USER --password-stdin
  - exit 0

deploy-php-7.3-fpm:
  stage: deploy
  script:
  - echo $DOCKER_PASSWORD |docker login $DOCKER_REGISTRY -u $DOCKER_USER --password-stdin
  - docker pull $DOCKER_REGISTRY/$DOCKER_REPOSITORY:7.3-fpm-$CI_COMMIT_SHORT_SHA
  ...

deploy-php-7.3-fpm-to-hub:
  stage: deploy
  script:
  - echo $DOCKER_PASSWORD |docker login $DOCKER_REGISTRY -u $DOCKER_USER --password-stdin
  - echo $DOCKER_HUB_PASSWORD |docker login -u $DOCKER_HUB_USER --password-stdin
  - docker pull $DOCKER_REGISTRY/$DOCKER_REPOSITORY:7.3-fpm-$CI_COMMIT_SHORT_SHA
  ...

build-php-7.3-apache:
  stage: build
  script:
  - echo $DOCKER_PASSWORD |docker login $DOCKER_REGISTRY -u $DOCKER_USER --password-stdin
  - docker build --pull --no-cache -t $DOCKER_REGISTRY/$DOCKER_REPOSITORY:7.3-apache-$CI_COMMIT_SHORT_SHA 7.3-apache/
  ...

test-php-7.3-apache:
  stage: test
  script:
  - echo $DOCKER_PASSWORD |docker login $DOCKER_REGISTRY -u $DOCKER_USER --password-stdin
  - exit 0

deploy-php-7.3-apache:
  stage: deploy
  script:
  - echo $DOCKER_PASSWORD |docker login $DOCKER_REGISTRY -u $DOCKER_USER --password-stdin
  - docker pull $DOCKER_REGISTRY/$DOCKER_REPOSITORY:7.3-apache-$CI_COMMIT_SHORT_SHA
  ...

deploy-php-7.3-apache-to-hub:
  stage: deploy
  script:
  - echo $DOCKER_PASSWORD |docker login $DOCKER_REGISTRY -u $DOCKER_USER --password-stdin
  - echo $DOCKER_HUB_PASSWORD |docker login -u $DOCKER_HUB_USER --password-stdin
  - docker pull $DOCKER_REGISTRY/$DOCKER_REPOSITORY:7.3-apache-$CI_COMMIT_SHORT_SHA
  ...

Add git and unzip for composer
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
Due: build-php-7.3-cli, test-php-7.3-cli, deploy-php-7.3-cli, deploy-php-7.3-cli-to-hub, build-php-7.3-fpm, test-php-7.3-fpm, deploy-php-7.3-fpm, deploy-php-7.3-fpm-to-hub, build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Adding PHP extensions gettext, memcached, mysqli and pdo_mysql
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
Due: build-php-7.3-cli, test-php-7.3-cli, deploy-php-7.3-cli, deploy-php-7.3-cli-to-hub, build-php-7.3-fpm, test-php-7.3-fpm, deploy-php-7.3-fpm, deploy-php-7.3-fpm-to-hub, build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Adding PHP extension imagick
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
Due: build-php-7.3-cli, test-php-7.3-cli, deploy-php-7.3-cli, deploy-php-7.3-cli-to-hub, build-php-7.3-fpm, test-php-7.3-fpm, deploy-php-7.3-fpm, deploy-php-7.3-fpm-to-hub, build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Add PHP apcu & Apache mod_rewrite
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
Due: build-php-7.3-cli, test-php-7.3-cli, deploy-php-7.3-cli, deploy-php-7.3-cli-to-hub, build-php-7.3-fpm, test-php-7.3-fpm, deploy-php-7.3-fpm, deploy-php-7.3-fpm-to-hub, build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Symlink PHP in /usr/bin to make sure we don't run into any PATH issue (e.g. hardcoded shebangs with /usr/bin/php)
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
Due: build-php-7.3-cli, test-php-7.3-cli, deploy-php-7.3-cli, deploy-php-7.3-cli-to-hub, build-php-7.3-fpm, test-php-7.3-fpm, deploy-php-7.3-fpm, deploy-php-7.3-fpm-to-hub, build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Adding PHP GD extension, with freetype, jpeg and png support
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
Due: build-php-7.3-cli, test-php-7.3-cli, deploy-php-7.3-cli, deploy-php-7.3-cli-to-hub, build-php-7.3-fpm, test-php-7.3-fpm, deploy-php-7.3-fpm, deploy-php-7.3-fpm-to-hub, build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Splitting this into a different file so we can introduce more versions... like 7.4
  .gitlab-ci-php-7.3.yml
  .gitlab-ci.yml
Due: none

Autodetect lib paths
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
Due: build-php-7.3-cli, test-php-7.3-cli, deploy-php-7.3-cli, deploy-php-7.3-cli-to-hub, build-php-7.3-fpm, test-php-7.3-fpm, deploy-php-7.3-fpm, deploy-php-7.3-fpm-to-hub, build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Adding PHP 7.4 images
  .gitlab-ci-php-7.4.yml
  .gitlab-ci.yml
  7.4-apache/Dockerfile
  7.4-cli/Dockerfile
  7.4-fpm/Dockerfile
Due: none

Adding remoteip apache module & config for proxy/traefik
  7.3-apache/Dockerfile
  7.4-apache/Dockerfile
Due: build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Adding PHP extensions intl, redis & xdebug
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
  7.4-apache/Dockerfile
  7.4-cli/Dockerfile
  7.4-fpm/Dockerfile
Due: build-php-7.3-cli, test-php-7.3-cli, deploy-php-7.3-cli, deploy-php-7.3-cli-to-hub, build-php-7.3-fpm, test-php-7.3-fpm, deploy-php-7.3-fpm, deploy-php-7.3-fpm-to-hub, build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Adding igbinary & msgpack extensions
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
  7.4-apache/Dockerfile
  7.4-cli/Dockerfile
  7.4-fpm/Dockerfile
Due: build-php-7.3-cli, test-php-7.3-cli, deploy-php-7.3-cli, deploy-php-7.3-cli-to-hub, build-php-7.3-fpm, test-php-7.3-fpm, deploy-php-7.3-fpm, deploy-php-7.3-fpm-to-hub, build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Cleaning dependencies
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
  7.4-apache/Dockerfile
  7.4-cli/Dockerfile
  7.4-fpm/Dockerfile
Due: build-php-7.3-cli, test-php-7.3-cli, deploy-php-7.3-cli, deploy-php-7.3-cli-to-hub, build-php-7.3-fpm, test-php-7.3-fpm, deploy-php-7.3-fpm, deploy-php-7.3-fpm-to-hub, build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Adding "zip" extension
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
  7.4-apache/Dockerfile
  7.4-cli/Dockerfile
  7.4-fpm/Dockerfile
Due: build-php-7.3-cli, test-php-7.3-cli, deploy-php-7.3-cli, deploy-php-7.3-cli-to-hub, build-php-7.3-fpm, test-php-7.3-fpm, deploy-php-7.3-fpm, deploy-php-7.3-fpm-to-hub, build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

PHP 8.0 Docker images
  .gitignore
  .gitlab-ci-php-8.0.yml
  .gitlab-ci.yml
  8.0-apache/Dockerfile
  8.0-cli/Dockerfile
  8.0-fpm/Dockerfile
Due: none

Use cache
  .gitlab-ci-php-7.3.yml
  .gitlab-ci-php-7.4.yml
  .gitlab-ci-php-8.0.yml
Due: none

Using GitLab internal variables for container registry
  .gitlab-ci-php-7.3.yml
  .gitlab-ci-php-7.4.yml
  .gitlab-ci-php-8.0.yml
  .gitlab-ci.yml
Due: none

And --password-stdin
  .gitlab-ci.yml
Due: none

Imagick 3.5 has finally been released for PHP 8 :)
  8.0-apache/Dockerfile
  8.0-cli/Dockerfile
  8.0-fpm/Dockerfile
Due: none

Add uploadprogress module
  8.0-apache/Dockerfile
Due: none

Add uploadprogress module
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
  7.4-apache/Dockerfile
  7.4-cli/Dockerfile
  7.4-fpm/Dockerfile
  8.0-cli/Dockerfile
  8.0-fpm/Dockerfile
Due: build-php-7.3-cli, test-php-7.3-cli, deploy-php-7.3-cli, deploy-php-7.3-cli-to-hub, build-php-7.3-fpm, test-php-7.3-fpm, deploy-php-7.3-fpm, deploy-php-7.3-fpm-to-hub, build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Removing Xdebug
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
  7.4-apache/Dockerfile
  7.4-cli/Dockerfile
  7.4-fpm/Dockerfile
  8.0-apache/Dockerfile
  8.0-cli/Dockerfile
  8.0-fpm/Dockerfile
Due: build-php-7.3-cli, test-php-7.3-cli, deploy-php-7.3-cli, deploy-php-7.3-cli-to-hub, build-php-7.3-fpm, test-php-7.3-fpm, deploy-php-7.3-fpm, deploy-php-7.3-fpm-to-hub, build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Adding PHP 7.2
  .gitlab-ci-php-7.2.yml
  .gitlab-ci.yml
  7.2-apache/Dockerfile
  7.2-cli/Dockerfile
  7.2-fpm/Dockerfile
Due: none

Adding PHP 7.1
  .gitlab-ci-php-7.1.yml
  .gitlab-ci.yml
  7.1-apache/Dockerfile
  7.1-cli/Dockerfile
  7.1-fpm/Dockerfile
Due: none

Adding PHP 7.0
  .gitlab-ci-php-7.0.yml
  .gitlab-ci.yml
  7.0-apache/Dockerfile
  7.0-cli/Dockerfile
  7.0-fpm/Dockerfile
Due: none

Adding PHP 5.6
  .gitlab-ci-php-5.6.yml
  .gitlab-ci.yml
  5.6-apache/Dockerfile
  5.6-cli/Dockerfile
  5.6-fpm/Dockerfile
Due: none

Adding PHP 8.1
  .gitlab-ci-php-8.1.yml
  .gitlab-ci.yml
  8.1-apache/Dockerfile
  8.1-cli/Dockerfile
  8.1-fpm/Dockerfile
Due: none

Adding DAG
  .gitlab-ci-php-5.6.yml
  .gitlab-ci-php-7.0.yml
  .gitlab-ci-php-7.1.yml
  .gitlab-ci-php-7.2.yml
  .gitlab-ci-php-7.3.yml
  .gitlab-ci-php-7.4.yml
  .gitlab-ci-php-8.0.yml
  .gitlab-ci-php-8.1.yml
Due: none

Adding elinks for "apache2ctl status"
  5.6-apache/Dockerfile
  7.0-apache/Dockerfile
  7.1-apache/Dockerfile
  7.2-apache/Dockerfile
  7.3-apache/Dockerfile
  7.4-apache/Dockerfile
  8.0-apache/Dockerfile
  8.1-apache/Dockerfile
Due: build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Adding PHP 8.1 with xdebug images
  .gitlab-ci-php-8.1-xdebug.yml
  .gitlab-ci.yml
  8.1-apache-xdebug/Dockerfile
  8.1-cli-xdebug/Dockerfile
  8.1-fpm-xdebug/Dockerfile
Due: none

Adding cURL module
  .gitlab-ci-php-8.1-xdebug.yml
  .gitlab-ci.yml
  5.6-apache/Dockerfile
  5.6-cli/Dockerfile
  5.6-fpm/Dockerfile
  7.0-apache/Dockerfile
  7.0-cli/Dockerfile
  7.0-fpm/Dockerfile
  7.1-apache/Dockerfile
  7.1-cli/Dockerfile
  7.1-fpm/Dockerfile
  7.2-apache/Dockerfile
  7.2-cli/Dockerfile
  7.2-fpm/Dockerfile
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
  7.4-apache/Dockerfile
  7.4-cli/Dockerfile
  7.4-fpm/Dockerfile
  8.0-apache/Dockerfile
  8.0-cli/Dockerfile
  8.0-fpm/Dockerfile
  8.1-apache-xdebug/Dockerfile
  8.1-apache/Dockerfile
  8.1-cli-xdebug/Dockerfile
  8.1-cli/Dockerfile
  8.1-fpm-xdebug/Dockerfile
  8.1-fpm/Dockerfile
Due: build-php-7.3-cli, test-php-7.3-cli, deploy-php-7.3-cli, deploy-php-7.3-cli-to-hub, build-php-7.3-fpm, test-php-7.3-fpm, deploy-php-7.3-fpm, deploy-php-7.3-fpm-to-hub, build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Empty stages
  .gitlab-ci.yml
Due: none

Add PHP 8.2 images :) /!\ Release Candidate
  .gitlab-ci-php-8.2.yml
  .gitlab-ci.yml
  8.2-apache/Dockerfile
  8.2-cli/Dockerfile
  8.2-fpm/Dockerfile
Due: none

Add sysvsem extension
  5.6-apache/Dockerfile
  5.6-cli/Dockerfile
  5.6-fpm/Dockerfile
  7.0-apache/Dockerfile
  7.0-cli/Dockerfile
  7.0-fpm/Dockerfile
  7.1-apache/Dockerfile
  7.1-cli/Dockerfile
  7.1-fpm/Dockerfile
  7.2-apache/Dockerfile
  7.2-cli/Dockerfile
  7.2-fpm/Dockerfile
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
  7.4-apache/Dockerfile
  7.4-cli/Dockerfile
  7.4-fpm/Dockerfile
  8.0-apache/Dockerfile
  8.0-cli/Dockerfile
  8.0-fpm/Dockerfile
  8.1-apache/Dockerfile
  8.1-cli/Dockerfile
  8.1-fpm/Dockerfile
  8.2-apache/Dockerfile
  8.2-cli/Dockerfile
  8.2-fpm/Dockerfile
Due: build-php-7.3-cli, test-php-7.3-cli, deploy-php-7.3-cli, deploy-php-7.3-cli-to-hub, build-php-7.3-fpm, test-php-7.3-fpm, deploy-php-7.3-fpm, deploy-php-7.3-fpm-to-hub, build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Get composer from the official Docker image
  5.6-apache/Dockerfile
  5.6-cli/Dockerfile
  5.6-fpm/Dockerfile
  7.0-apache/Dockerfile
  7.0-cli/Dockerfile
  7.0-fpm/Dockerfile
  7.1-apache/Dockerfile
  7.1-cli/Dockerfile
  7.1-fpm/Dockerfile
  7.2-apache/Dockerfile
  7.2-cli/Dockerfile
  7.2-fpm/Dockerfile
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
  7.4-apache/Dockerfile
  7.4-cli/Dockerfile
  7.4-fpm/Dockerfile
  8.0-apache/Dockerfile
  8.0-cli/Dockerfile
  8.0-fpm/Dockerfile
  8.1-apache/Dockerfile
  8.1-cli/Dockerfile
  8.1-fpm/Dockerfile
  8.2-apache/Dockerfile
  8.2-cli/Dockerfile
  8.2-fpm/Dockerfile
Due: build-php-7.3-cli, test-php-7.3-cli, deploy-php-7.3-cli, deploy-php-7.3-cli-to-hub, build-php-7.3-fpm, test-php-7.3-fpm, deploy-php-7.3-fpm, deploy-php-7.3-fpm-to-hub, build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Enable HTTP/2
  5.6-apache/Dockerfile
  7.0-apache/Dockerfile
  7.1-apache/Dockerfile
  7.2-apache/Dockerfile
  7.3-apache/Dockerfile
  7.4-apache/Dockerfile
  8.0-apache/Dockerfile
  8.1-apache/Dockerfile
  8.2-apache/Dockerfile
Due: build-php-7.3-apache, test-php-7.3-apache, deploy-php-7.3-apache, deploy-php-7.3-apache-to-hub

Dropping support as Debian Stretch repos are 404, it is time. This is the way.
  .gitlab-ci-php-5.6.yml
  .gitlab-ci-php-7.0.yml
  .gitlab-ci.yml
  5.6-apache/Dockerfile
  5.6-cli/Dockerfile
  5.6-fpm/Dockerfile
  7.0-apache/Dockerfile
  7.0-cli/Dockerfile
  7.0-fpm/Dockerfile
Due: none

libssl-dev is now needed for libmemcached-dev with Debian Bookworm (https://github.com/php-memcached-dev/php-memcached/issues/541#issuecomment-1624041385)
  8.1-apache/Dockerfile
  8.1-cli/Dockerfile
  8.1-fpm/Dockerfile
  8.2-apache/Dockerfile
  8.2-cli/Dockerfile
  8.2-fpm/Dockerfile
Due: none

Build PHP 8.3 (currently beta2) images
  .gitlab-ci-php-8.3.yml
  .gitlab-ci.yml
  8.3-apache/Dockerfile
  8.3-cli/Dockerfile
  8.3-fpm/Dockerfile
Due: none

PHP 8.3 Released!
  8.3-apache/Dockerfile
  8.3-cli/Dockerfile
  8.3-fpm/Dockerfile
Due: none

Path conditions:
  build-php-7.3-cli: any of: 7.3-cli/*
  test-php-7.3-cli: any of: 7.3-cli/*
  deploy-php-7.3-cli: any of: 7.3-cli/*
  deploy-php-7.3-cli-to-hub: any of: 7.3-cli/*
  build-php-7.3-fpm: any of: 7.3-fpm/*
  test-php-7.3-fpm: any of: 7.3-fpm/*
  deploy-php-7.3-fpm: any of: 7.3-fpm/*
  deploy-php-7.3-fpm-to-hub: any of: 7.3-fpm/*
  build-php-7.3-apache: any of: 7.3-apache/*
  test-php-7.3-apache: any of: 7.3-apache/*
  deploy-php-7.3-apache: any of: 7.3-apache/*
  deploy-php-7.3-apache-to-hub: any of: 7.3-apache/*
