Repository jejem/docker-php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-php-5.6-cli, test-php-5.6-cli, deploy-php-5.6-cli, deploy-php-5.6-cli-to-hub, build-php-5.6-fpm, test-php-5.6-fpm, deploy-php-5.6-fpm, deploy-php-5.6-fpm-to-hub, build-php-5.6-apache, test-php-5.6-apache, deploy-php-5.6-apache, deploy-php-5.6-apache-to-hub, build-php-7.1-cli, test-php-7.1-cli, deploy-php-7.1-cli, deploy-php-7.1-cli-to-hub, build-php-7.1-fpm, test-php-7.1-fpm, deploy-php-7.1-fpm, deploy-php-7.1-fpm-to-hub, build-php-7.1-apache, test-php-7.1-apache, deploy-php-7.1-apache, deploy-php-7.1-apache-to-hub, build-php-7.2-cli, test-php-7.2-cli, deploy-php-7.2-cli, deploy-php-7.2-cli-to-hub, build-php-7.2-fpm, test-php-7.2-fpm, deploy-php-7.2-fpm, deploy-php-7.2-fpm-to-hub, build-php-7.2-apache, test-php-7.2-apache, deploy-php-7.2-apache, deploy-php-7.2-apache-to-hub, build-php-7.4-cli, test-php-7.4-cli, deploy-php-7.4-cli, deploy-php-7.4-cli-to-hub, build-php-7.4-fpm, test-php-7.4-fpm, deploy-php-7.4-fpm, deploy-php-7.4-fpm-to-hub, build-php-7.4-apache, test-php-7.4-apache, deploy-php-7.4-apache, deploy-php-7.4-apache-to-hub, build-php-8.0-cli, test-php-8.0-cli, deploy-php-8.0-cli, deploy-php-8.0-cli-to-hub, build-php-8.0-fpm, test-php-8.0-fpm, deploy-php-8.0-fpm, deploy-php-8.0-fpm-to-hub, build-php-8.0-apache, test-php-8.0-apache, deploy-php-8.0-apache, deploy-php-8.0-apache-to-hub, build-php-8.1-cli-xdebug, test-php-8.1-cli-xdebug, deploy-php-8.1-cli-xdebug, deploy-php-8.1-cli-xdebug-to-hub, build-php-8.1-fpm-xdebug, test-php-8.1-fpm-xdebug, deploy-php-8.1-fpm-xdebug, deploy-php-8.1-fpm-xdebug-to-hub, build-php-8.1-apache-xdebug, test-php-8.1-apache-xdebug, deploy-php-8.1-apache-xdebug, deploy-php-8.1-apache-xdebug-to-hub

Path conditions:
  build-php-5.6-cli: any of: 5.6-cli/*
  test-php-5.6-cli: any of: 5.6-cli/*
  deploy-php-5.6-cli: any of: 5.6-cli/*
  deploy-php-5.6-cli-to-hub: any of: 5.6-cli/*
  build-php-5.6-fpm: any of: 5.6-fpm/*
  test-php-5.6-fpm: any of: 5.6-fpm/*
  deploy-php-5.6-fpm: any of: 5.6-fpm/*
  deploy-php-5.6-fpm-to-hub: any of: 5.6-fpm/*
  build-php-5.6-apache: any of: 5.6-apache/*
  test-php-5.6-apache: any of: 5.6-apache/*
  deploy-php-5.6-apache: any of: 5.6-apache/*
  deploy-php-5.6-apache-to-hub: any of: 5.6-apache/*
  build-php-7.1-cli: any of: 7.1-cli/*
  test-php-7.1-cli: any of: 7.1-cli/*
  deploy-php-7.1-cli: any of: 7.1-cli/*
  deploy-php-7.1-cli-to-hub: any of: 7.1-cli/*
  build-php-7.1-fpm: any of: 7.1-fpm/*
  test-php-7.1-fpm: any of: 7.1-fpm/*
  deploy-php-7.1-fpm: any of: 7.1-fpm/*
  deploy-php-7.1-fpm-to-hub: any of: 7.1-fpm/*
  build-php-7.1-apache: any of: 7.1-apache/*
  test-php-7.1-apache: any of: 7.1-apache/*
  deploy-php-7.1-apache: any of: 7.1-apache/*
  deploy-php-7.1-apache-to-hub: any of: 7.1-apache/*
  build-php-7.2-cli: any of: 7.2-cli/*
  test-php-7.2-cli: any of: 7.2-cli/*
  deploy-php-7.2-cli: any of: 7.2-cli/*
  deploy-php-7.2-cli-to-hub: any of: 7.2-cli/*
  build-php-7.2-fpm: any of: 7.2-fpm/*
  test-php-7.2-fpm: any of: 7.2-fpm/*
  deploy-php-7.2-fpm: any of: 7.2-fpm/*
  deploy-php-7.2-fpm-to-hub: any of: 7.2-fpm/*
  build-php-7.2-apache: any of: 7.2-apache/*
  test-php-7.2-apache: any of: 7.2-apache/*
  deploy-php-7.2-apache: any of: 7.2-apache/*
  deploy-php-7.2-apache-to-hub: any of: 7.2-apache/*
  build-php-7.4-cli: any of: 7.4-cli/*
  test-php-7.4-cli: any of: 7.4-cli/*
  deploy-php-7.4-cli: any of: 7.4-cli/*
  deploy-php-7.4-cli-to-hub: any of: 7.4-cli/*
  build-php-7.4-fpm: any of: 7.4-fpm/*
  test-php-7.4-fpm: any of: 7.4-fpm/*
  deploy-php-7.4-fpm: any of: 7.4-fpm/*
  deploy-php-7.4-fpm-to-hub: any of: 7.4-fpm/*
  build-php-7.4-apache: any of: 7.4-apache/*
  test-php-7.4-apache: any of: 7.4-apache/*
  deploy-php-7.4-apache: any of: 7.4-apache/*
  deploy-php-7.4-apache-to-hub: any of: 7.4-apache/*
  build-php-8.0-cli: any of: 8.0-cli/*
  test-php-8.0-cli: any of: 8.0-cli/*
  deploy-php-8.0-cli: any of: 8.0-cli/*
  deploy-php-8.0-cli-to-hub: any of: 8.0-cli/*
  build-php-8.0-fpm: any of: 8.0-fpm/*
  test-php-8.0-fpm: any of: 8.0-fpm/*
  deploy-php-8.0-fpm: any of: 8.0-fpm/*
  deploy-php-8.0-fpm-to-hub: any of: 8.0-fpm/*
  build-php-8.0-apache: any of: 8.0-apache/*
  test-php-8.0-apache: any of: 8.0-apache/*
  deploy-php-8.0-apache: any of: 8.0-apache/*
  deploy-php-8.0-apache-to-hub: any of: 8.0-apache/*
  build-php-8.1-cli-xdebug: any of: 8.1-cli/*, 8.1-cli-xdebug/*
  test-php-8.1-cli-xdebug: any of: 8.1-cli/*, 8.1-cli-xdebug/*
  deploy-php-8.1-cli-xdebug: any of: 8.1-cli/*, 8.1-cli-xdebug/*
  deploy-php-8.1-cli-xdebug-to-hub: any of: 8.1-cli/*, 8.1-cli-xdebug/*
  build-php-8.1-fpm-xdebug: any of: 8.1-fpm/*, 8.1-fpm-xdebug/*
  test-php-8.1-fpm-xdebug: any of: 8.1-fpm/*, 8.1-fpm-xdebug/*
  deploy-php-8.1-fpm-xdebug: any of: 8.1-fpm/*, 8.1-fpm-xdebug/*
  deploy-php-8.1-fpm-xdebug-to-hub: any of: 8.1-fpm/*, 8.1-fpm-xdebug/*
  build-php-8.1-apache-xdebug: any of: 8.1-apache/*, 8.1-apache-xdebug/*
  test-php-8.1-apache-xdebug: any of: 8.1-apache/*, 8.1-apache-xdebug/*
  deploy-php-8.1-apache-xdebug: any of: 8.1-apache/*, 8.1-apache-xdebug/*
  deploy-php-8.1-apache-xdebug-to-hub: any of: 8.1-apache/*, 8.1-apache-xdebug/*

No new builds of PHP 7.1 will be made
  .gitlab-ci-php-7.1.yml
  .gitlab-ci.yml
  7.1-apache/Dockerfile
  7.1-cli/Dockerfile
  7.1-fpm/Dockerfile
Due: build-php-7.1-cli, test-php-7.1-cli, deploy-php-7.1-cli, deploy-php-7.1-cli-to-hub, build-php-7.1-fpm, test-php-7.1-fpm, deploy-php-7.1-fpm, deploy-php-7.1-fpm-to-hub, build-php-7.1-apache, test-php-7.1-apache, deploy-php-7.1-apache, deploy-php-7.1-apache-to-hub

Add xdebug.so (disabled)
  7.2-apache/Dockerfile
  7.2-cli/Dockerfile
  7.2-fpm/Dockerfile
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
  7.4-apache/Dockerfile
  7.4-cli/Dockerfile
  7.4-fpm/Dockerfile
  8.0-apache/Dockerfile
  8.0-cli/Dockerfile
  8.0-fpm/Dockerfile
  8.1-apache/Dockerfile
  8.1-cli/Dockerfile
  8.1-fpm/Dockerfile
  8.2-apache/Dockerfile
  8.2-cli/Dockerfile
  8.2-fpm/Dockerfile
  8.3-apache/Dockerfile
  8.3-cli/Dockerfile
  8.3-fpm/Dockerfile
Due: build-php-7.2-cli, test-php-7.2-cli, deploy-php-7.2-cli, deploy-php-7.2-cli-to-hub, build-php-7.2-fpm, test-php-7.2-fpm, deploy-php-7.2-fpm, deploy-php-7.2-fpm-to-hub, build-php-7.2-apache, test-php-7.2-apache, deploy-php-7.2-apache, deploy-php-7.2-apache-to-hub, build-php-7.4-cli, test-php-7.4-cli, deploy-php-7.4-cli, deploy-php-7.4-cli-to-hub, build-php-7.4-fpm, test-php-7.4-fpm, deploy-php-7.4-fpm, deploy-php-7.4-fpm-to-hub, build-php-7.4-apache, test-php-7.4-apache, deploy-php-7.4-apache, deploy-php-7.4-apache-to-hub, build-php-8.0-cli, test-php-8.0-cli, deploy-php-8.0-cli, deploy-php-8.0-cli-to-hub, build-php-8.0-fpm, test-php-8.0-fpm, deploy-php-8.0-fpm, deploy-php-8.0-fpm-to-hub, build-php-8.0-apache, test-php-8.0-apache, deploy-php-8.0-apache, deploy-php-8.0-apache-to-hub, build-php-8.1-cli-xdebug, test-php-8.1-cli-xdebug, deploy-php-8.1-cli-xdebug, deploy-php-8.1-cli-xdebug-to-hub, build-php-8.1-fpm-xdebug, test-php-8.1-fpm-xdebug, deploy-php-8.1-fpm-xdebug, deploy-php-8.1-fpm-xdebug-to-hub, build-php-8.1-apache-xdebug, test-php-8.1-apache-xdebug, deploy-php-8.1-apache-xdebug, deploy-php-8.1-apache-xdebug-to-hub

Adding PHP 8.4
  .gitlab-ci-php-8.4.yml
  .gitlab-ci.yml
  8.4-apache/Dockerfile
  8.4-cli/Dockerfile
  8.4-fpm/Dockerfile
Due: none

Fix redis version
  7.2-apache/Dockerfile
  7.2-cli/Dockerfile
  7.2-fpm/Dockerfile
  7.3-apache/Dockerfile
  7.3-cli/Dockerfile
  7.3-fpm/Dockerfile
Due: build-php-7.2-cli, test-php-7.2-cli, deploy-php-7.2-cli, deploy-php-7.2-cli-to-hub, build-php-7.2-fpm, test-php-7.2-fpm, deploy-php-7.2-fpm, deploy-php-7.2-fpm-to-hub, build-php-7.2-apache, test-php-7.2-apache, deploy-php-7.2-apache, deploy-php-7.2-apache-to-hub

No new builds of PHP 7.2 will be made
  .gitlab-ci-php-7.2.yml
  .gitlab-ci.yml
  7.2-apache/Dockerfile
  7.2-cli/Dockerfile
  7.2-fpm/Dockerfile
Due: build-php-7.2-cli, test-php-7.2-cli, deploy-php-7.2-cli, deploy-php-7.2-cli-to-hub, build-php-7.2-fpm, test-php-7.2-fpm, deploy-php-7.2-fpm, deploy-php-7.2-fpm-to-hub, build-php-7.2-apache, test-php-7.2-apache, deploy-php-7.2-apache, deploy-php-7.2-apache-to-hub

Adding PHP 8.5
  .gitlab-ci-php-8.5.yml
  .gitlab-ci.yml
  8.5-apache/Dockerfile
  8.5-cli/Dockerfile
  8.5-fpm/Dockerfile
Due: none
